* {
    box-sizing: border-box;
    font-family: 'Slabo 27px', serif;
}

html {
    background: #ededed;;
}

header {
    margin: 2em 0;
}

h1 {
    text-align: center;
}

p {
    color: grey;
}

.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    width: 90%;
    margin: auto;
    font-size: 13px;
}

img {
    border-radius: 50%;
    width: 100px;
    margin: 1em;
}

.card {
    display: flex;
    align-items: center;
    border: 1px grey solid;
    border-radius: 8px;
    margin: 1em auto;
    width: 100%;
    max-width: 300px;
    background: white;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }

    .card {
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
    }
}